.contact__wrapper {
    background-image: url(../img/contact.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
    padding: 60px 0;

    .contact-form__wrapper {
        display: flex;
        flex-direction: row;
        width: 970px;
        height: 764px;
        opacity: .85;


        .offer-to-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;align-items: center;
            background-color: #22443A;
            width: 70%;

            
            .offer__h2 {
                font-size: 40px;
                opacity: 1;
            }
        }


        .form__booking {
            padding-top: 72px;
            width: 100%;
            background-color: #D9D9D9;


            .booking__h2 {
                text-align: center;
                color: #000000;
                font-size: 40px;
                font-family: "Roboto-Medium";
                letter-spacing: 3px;
                font-weight: 400;
            }

            .form__booking-data {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                padding-right: 61px;
                padding-left: 61px;
                padding-top: 61px;
                gap: 20px;


                .input__wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 14px;


                    .booking__label {
                        text-align: right;
                        font-size: 20px;
                        font-family: "Roboto-Medium";
                        font-weight: 300;
                        opacity: .6;
                        letter-spacing: 2px;
                    }


                    .booking__input {
                        font-size: 24px;
                        color: #000000;
                        height: 51px;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px #858585 solid;
                        border-radius: 4px;
                        transition: outline 1s ease-out;
                    }
                }


                
            }
        }
        
    }
}